// .header-site .container {
//   @media screen and (min-width: 768px) {
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//   }
//   @media screen and (max-width: 767px) {
//     .menu-button {
//       margin-left: auto;
//     }
//   }
// }
// @media screen and (max-width: 767px) {
//   // .site-nav {
//   //   display: inline;
//   // }
//   .header-site .container {
//     align-content: stretch;
//     position: relative;
//   }
// }

// нав контейнер
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  @media screen and (max-width: 768px) {
    width: 100%;

    align-items: center;
    flex-grow: 1;
  }
}
// нав----------
// .nav {
//   @media screen and (max-width: 767px) {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-grow: 1;
//   }
// }

// сайт-нав_______________
.site-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
// Адресс-нав

.adress-nav a {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $grey-text-color;
  justify-content: center;
}
.adress-nav {
  display: inline;
  padding-bottom: 10px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0px;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
}
// @media screen and (min-width: 768px) {
//   text-align: start;
// }
// @media screen and (min-width: 1200px) {
//   margin-top: 30px;
// }

.adress-nav a:hover,
.adress-nav a:focus {
  color: $accent-blue-color;
}

.adress-nav li {
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}
// сайт нав лист ----------------
.site-nav-list {
  display: flex;
  margin-right: 60px;

  & :hover {
    color: $accent-blue-color;

    & .current::before {
      transform: translateX(-101%);
    }
    & .current::after {
      transform: translateX(101%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  & :focus {
    color: $accent-blue-color;
    & .current::before {
      transform: translateX(-101%);
    }
    & .current::after {
      transform: translateX(101%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
//   Сайт нав линк ____________
.site-nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  position: relative;
  overflow: hidden;

  display: inline-block;
  padding: 30px 0px;
  /* border: 1px solid #cccccc; */
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: $accent-blue-color;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-blue-color;
  }
}
.mails:hover,
.fone :hover {
  fill: $accent-blue-color;
}
.mails,
.fone {
  fill: $grey-text-color;
  display: inline;
  @media screen and (min-width: 768px) {
    text-align: start;
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: block;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    margin-left: 15px;
  }
}
