.container {
  // width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.hero-section {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  background-position: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.6),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  background-repeat: no-repeat;

  max-width: 1600px;
  min-height: 400px;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    padding: 118px 60px;
    height: 400px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 118px 204px;
    height: 400px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 300px;
  }
}

.hero {
  &-haeding {
    margin-bottom: 30px;
    padding-bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    // font-weight: 900;
    text-transform: uppercase;
    color: $white-color;
    letter-spacing: 0.06em;

    @media screen and (min-width: 480px) {
      font-size: 26px;
      line-height: 42px;
      /* or 162% */
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 42px;
      /* or 162% */
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 60px;
      /* or 136% */
    }
  }
}
// &-section {
//   display: flex;
//   flex-direction: column;
//   text-align: center;
//   align-items: center;
//   margin: auto;
//   @media screen and (max-width: 480px) {
//     padding: 118px 60px;
//   }
//   @media screen and (min-width: 480px) {
//     padding: 118px 60px;
//   }
//   @media screen and (min-width: 768px) {
//     padding: 118px 204px;
//   }
//   @media screen and (min-width: 1200px) {
//     padding: 200px 452px;
//     margin: 0px;
//   }
// }

.button {
  display: inline-block;
  background-color: $accent-blue-color;
  color: $white-color;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-radius: 6px;

  font-size: 16px;
  line-height: 30px;
}
