.team {
  &-section {
    background-color: $secondary-background-color;
    @media screen and (max-width: 1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  &-heading {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    margin: -15px;
  }
  @media screen and (min-width: 480px) {
  }
  // @media screen and (max-width: 768px) {
  //
  // }

  //

  // @media screen and (min-width: 1200px) {
  //   display: flex;

  // @media screen and (min-width: 1200px) {

  //   display: flex;
  //   width: calc();
  //   justify-content: space-evenly;
  // }
  &-person {
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-bottom: 30px;
    @media screen and (max-width: 480px) {
      display: block;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: calc((100%-120px) / 4);
      margin: 15px;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  // @media screen and (max-width: 768px) {
  //   display: block;
  // }

  // @media screen and (max-width: 1200px) {
  //   width: calc((100%-60px) / 2);

  //   justify-content: space-evenly;
  // }
  // @media screen and (min-width: 768px) {
  //   width: calc((100%-60px) / 2);
  //   margin-right: 15px;
  //   margin-left: 15px;
  //   flex-basis: 50%;
  //   // justify-content: space-evenly;
  // }

  &-person:last-child {
    margin-right: px;
  }
}
.name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.profession {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: $grey-text-color;
  margin-bottom: 16px;
}
