.tehnokrak {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  &-img {
    position: relative;
    overflow: hidden;
  }
  &-produkt {
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
    color: $grey-text-color;

    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 24px;
    margin-right: 24px;
  }
  &-element {
    margin-right: 30px;
    margin-bottom: 30px;

    width: calc((100% - 60px) / 3);
    border: 1px solid #eeeeee;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:hover {
      box-shadow: 1px 4px 6px rgba(126, 101, 101, 0.16),
        0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
  }
  &-link {
    width: 100%;

    &:hover .overlay {
      bottom: 0;
      left: 0;
      transform: translateX(0);
      transition-duration: 2000ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.proekt-name {
  margin-top: 20px;
  margin-bottom: 0;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: $primary-text-color;
}

.overlay {
  display: block;
  position: absolute;
  bottom: -100%;
  transform: translateY(100%);
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: $white-color;
  background: rgba(33, 150, 243, 0.9);
  border-radius: 5px 5px 0px 0px;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
}

.link-sub {
  color: $white-color;
}
