$white-color: #ffffff;
$primary-text-color: #121121;
$grey-text-color: #757575;
$icons-color: #afb1b8;
$secondary-background-color: #f5f4fa;
$footer-text-color: rgba(255, 255, 255, 0.4);
$accent-blue-color: #2196f3;
$logo-color: #000000;
